/* PC向けCSS */

@charset "UTF-8";

/*** common setting ***/

body,a {
    color: #000000;
    
}

h1 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    background-image: url(../img/images.jpg);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 5px rgba(31,50,53,0.8), 0 0 5px rgba(31,50,53,0.3);
    margin: 0;
}
h2 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}
a:hover {
    opacity: 0.6;
}
.contentWrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}

header {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
header a {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
}
header ul {
    display: flex;
    margin: 0;
    padding: 30px;
}
header li {
    padding: 0 30px;
}
header nav {
    position: absolute;
    right: 0;
}

header .contentWrapper {
    padding-top: 300px;
}

#maegaki p {
    font-size: 1.2rem;
    line-height: 2.6rem;
}

#database {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#database figcaption {
    font-size: 2rem;
}
#database .flexcontent {
    flex-basis: 30%;
    flex-grow: 1;
}
#database .flexcontent p {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
    line-height: 160%;
}
#database figure img {
    width: 100%;
}

/** kasosoft **/
#kasosoft {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#kasosoft p {
    font-size: 1.5rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
                 "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#kasosoft img {
    width: 100%;
}


/** Framework **/

#Framework {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#Framework p {
    font-size: 1.5rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
                 "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#Framework img {
    width: 100%;
}


.flex {
    display: flex;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/* スライドショー*/
.slideshow {
  width: 500px;
  margin: auto;
}

.slideshow img {
  width: 100%;
}


@media screen and (max-width: 780px) {
/* ここよりスマホ向けCSS */
    /*** common setting ***/
/* PC向けCSS */

@charset "UTF-8";

/*** common setting ***/

body,a {
    color: #000000;
    
}

h1 {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    background-image: url(../img/images.jpg);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 5px rgba(31,50,53,0.8), 0 0 5px rgba(31,50,53,0.3);
    margin: 0;
}
h2 {
    background-image: url(../img/images.jpg);
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3","ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-size: 2.6rem;
    letter-spacing: 0.5rem;
}
a:hover {
    opacity: 0.6;
}
.contentWrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
}

header {
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
header a {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
}
header ul {
    display: flex;
    margin: 0;
    padding: 30px;
}
header li {
    padding: 0 30px;
}
header nav {
    position: absolute;
    right: 0;
}

header .contentWrapper {
    padding-top: 300px;
}

#maegaki p {
    font-size: 1.2rem;
    line-height: 2.6rem;
}

#database {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#database figcaption {
    font-size: 2rem;
}
#database .flexcontent {
    flex-basis: 30%;
    flex-grow: 1;
}
#database .flexcontent p {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
    line-height: 160%;
}
#database figure img {
    width: 100%;
}

/** kasosoft **/
#kasosoft {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#kasosoft p {
    font-size: 1.5rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
                 "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#kasosoft img {
    width: 100%;
}


/** Framework **/

#Framework {
    background-image: url(../img/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#Framework p {
    font-size: 1.5rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
                 "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
#Framework img {
    width: 100%;
}


.flex {
    display: flex;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}


/* スライドショー*/
.slideshow {
  width: 500px;
  margin: auto;
}

.slideshow img {
  width: 100%;
}
